<h2>To-Do List</h2>
<div class="todo-list">
  {{#each model as |todo|}}
    <div class="todo {{if todo.done 'done'}}">
      <p class="text">{{todo.text}}</p>
      <small class="status">({{if todo.done 'Hecho' 'Por hacer'}})</small>
      <button type="button" {{action 'toggleDone' todo}}>{{if todo.done 'Aún no lo he hecho' 'Lo he hecho'}}</button>
    </div>
  {{/each}}
</div>


<div class="new-todo">
  {{#if invalidLength}}
    <div class="error">
      La longitud del texto debe estar entre 20 y 100 caracteres
    </div>
  {{/if}}

  {{input type='text' value=newTodoText placeholder='Ingrese acá el nuevo todo'}}
  <button type="button" {{action 'addTodo' argument}}>Agregar To-Do</button>
</div>
{{outlet}}
